@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-snap-type: proximity;
    box-sizing: border-box;
}

header{
    width: 100%;
    box-shadow: none;
    padding-top: .3rem;
    padding-bottom: .3rem;
    top: 0;
    display: block;
    position: fixed;
    z-index: 9999;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.main{
    background-color: rgb(255 255 255);
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: -5px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.main::before
.main::after{
    content: " ";
    position: absolute;
    z-index: -1;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    transition: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);

}

body{
    line-height: inherit;
    color-scheme: light;

}

.btn button {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 50px;
    background-color: #6556ff26;
    color: #6556ff;
    text-decoration: none;
    margin: auto;
    border: none;
    /* font-weight: 500; */
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: bold;
    transition: 0.5s;
}

.btn button:hover{
    background-color: #6556ff;
    color: #e5e7eb;
}

.nav-links {
     flex: 1;
     text-align: right;
}
    
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #57595f;
    text-decoration: none;
    font-size: 18px;
}
  
.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #6556ff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
  .nav-links ul li:hover::after {
    width: 100%;
}

.separation {
    height: 2px;
    top: 50px;
    bottom: 50px;
    background-color: rgb(191, 191, 191);
    position: relative;
    z-index: 20;
}


.image{
   /* margin-left: 600px; */
   position: relative;
   max-width: 70vw;
}

.image img {
   width: 727.5px;
   height: 674.83px;
   position: relative;
   max-width: 50vw;
}

.first {
 display: flex;
 justify-content: center;
 max-width: 95vw;
 margin: auto;
}

section{
    margin: 0;
}
section.first>div {
   
    display: flex;
    flex-direction: column;
    padding: 0px 0;
    padding-left: 50px;
}
section.first>div :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    padding-top: 1px;
    font-size: 3rem;
    color: rgb(34 44 68);
    line-height: 1;
    font-weight: bolder;
}
section.first>div :nth-child(2) {
    font-family: 'Martel Sans', sans-serif;
    margin-top: 5px;
    font-size: 20px;
    color: rgba(0,0,0,.7);
    font-size: 1.125rem;
    line-height: 1.75rem;

}

.grid{
    grid-column: span 6/span 6;
}

.first span :nth-child(1){
    margin-top: 80px;
}

.first span{
    margin-top: 40px;
}

.container{
    margin-top:  130px;
    padding: 0;
    background:  rgba(204, 223, 255, 0.5);
    
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}


img {
    max-width: 100%;
    height: auto;
}

.box{
    margin-left: 50px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.text-box{
    margin-top: 200px;
    margin: 10px;
    padding: 36px 350px 36px 36px;
    margin-right: 15px;
    border: none;
    border-radius: 60px;
    border: 0 solid #e5e7eb;
    outline: none;
    margin-left: 300px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}
.text-box:placeholder-shown{
    font-size: large;
    width: auto;
    height: auto;
    /* margin: auto; */
    padding: auto;
}

.textflex{
    display: flex;
    top: 20px;
    margin-top: 50px;
    margin-right: 30px;
    justify-content: space-between;
}

.textflex p img{
    /* left: 10px; */
    top: 5px;
    width: 37px;
    height: auto;

}
img {
    vertical-align: middle;
}
/* p{ 
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
    font-size: 2rem;
    font-family: 'Martel Sans', sans-serif;
}*/

.courseh1{
    margin-top: 80px;
    margin-left: 25px;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
}

.mainbox{
    display: flex;
    justify-content: center;
}

.course{
    margin: 25px;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.course .b1{
    height: 510px;
    width: 388px;
    margin: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    /* border: 1px solid black; */
    
}


.b1 .im{
    margin: 10px;
    padding: 10px;
    width: 380px;
    height: 250px;
}

.b1 h2{
    margin-left: 20px;
    line-height: 2rem;
    display: inline-block;
    max-width: 75%;
}

.b1 a {
    text-decoration: underline;
    color: #6556ff;
    margin-top: 30px;
    margin-left: 20px;
}

.meet{
    height: 500px;
    width: 100%;
    background:  rgba(204, 223, 255, 0.5);   
}

.meet h1{
    font-family: 'Poppins', sans-serif;
    line-height: 3rem;
    margin-left: 50px;
}

.userphoto{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}

.meet p{
    font-size: 30px;
    font-weight: bolder;
}

.meet p img {
    width: 220px;
    height: 220px;
}

.bg{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
.imgg{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 160px; */
    bottom: 50px;
}

.bg img {
    width: 900px;
    height: 300px;
}

.bg .text {
    position: absolute;
    color: #fff;
}

.bg h1 {
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg p{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.ema{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.ema input{
    margin: 10px;
    padding: 36px 350px 36px 36px;
    border: none;
    border-radius: 60px;
    border: 0 solid #e5e7eb;
    outline: none;
    box-shadow: 3px 10px 30px 25px rgb(0 0 0 / 20%);
}

footer {
    margin-top: 45px;
    background:  rgba(204, 223, 255, 0.5);
    height: 300px;
    width: 100%;
}

.vivekanand{
    color: rgb(28, 8, 93);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: auto;
}

.f{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
}
